

// Self-defined-color
$main-color: #165e83;
$secondary-dark-blue: #00a3af;
$secondary-lighter-blue: #83ccd2;
$secondary-white-blue: #ebf6f7;
$secondary-choco-brown: #8c6450;
$secondary-dirt-brown: #d9a62e;
$secondary-human-pink: #fde8d0;

// Mobile Nav Color

$mobile-nav-dark-blue: #165f83cf;

// Basic color

$black: #000;
$gray: #6a6a6a;
$white: #fff;

// Transparent
$trans: transparent;

