@import "../color/colors.scss";
footer {
    background-color: $secondary-white-blue;
    height: 197px;
    overflow: hidden;
    .footer-info {
        width: 1578px;
        height: 76px;
        background-color: $white;
        color: $main-color;
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 139px;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-evenly;
        .footer-info-left {
            overflow: hidden;
            // width: 550px;
            display: flex;
            padding-top: 10px;
            // padding-left: 74px;

            p {
                margin-left: 22px;
                margin-top: 15px;
            }

            &__logo {
                width: 68px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
        .footer-info-right {
            margin-top: 25px;

            .ul-flex {
                display: flex;
                .hotel-address{
                    margin-right: 38px;
                }
                img{
                    margin: 4px;
                    width: 16px;
                    height: 100%;
                }
            }
        }
    }
    .copyright {
        background-color: $main-color;
        color: $white;
        text-align: center;
        padding: 4px 0;
        margin-top: 49px;
        height: 32px;
    }
}
