footer {
    .copyright {
        background-color: $main-color;
        color: $white;
        text-align: center;
        padding: 4px 0;
    }
    .footer-info {
        overflow: hidden;
        padding: 20px;
        padding-left: 100px;
        background-color: $secondary-white-blue;
        letter-spacing: 0.2rem;
        .footer-info-left {
            width: 550px;
            float: left;
            padding-bottom: 20px;

            p {
                margin-left: 150px;
            }

            &__logo {
                float: left;
                width: 120px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            &__hotel-info {
                display: flex;
                float: left;
                overflow: hidden;
            }

            .hotel-info {
                margin-top: 35px;
            }
            .hotel-info:first-child {
                margin-top: 0;
            }
        }
        .footer-info-right {
            width: 450px;
            float: right;
            margin-left: auto;

            .ul-flex {
                display: flex;
                justify-content: space-between;
                margin-right: 90px;

                li {
                    margin-bottom: 8px;
                }

                li:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $black;
                }
            }
        }
    }
}
