@import "../color/colors.scss";

// 前言
.foreword {
    width: 80%;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 72px;
    text-align: center;
    &__paragraph {
        margin-top: 20px;
    }

    &__paragraph:last-of-type {
        margin-bottom: 28px;
    }

    //按鈕的位置調整置中
    .button-div {
        text-align: center;

        // 按鈕的高度調整
        .page-button {
            margin-top: 20px;
        }
    }
}

.page-button {
    display: inline-block;
    text-align: center;
    color: $white;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: $secondary-dark-blue;
    border: 0;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #555;
}

@media (max-width: 998px) {
    .welcome {
        &__title {
            font-size: 1.4rem;
        }
    }
}
