@media (max-width: 1200px) {
    footer {
        .footer-info {
            padding: 40px 100px;
            .footer-info-left {
                float: none;
                width: 100%;
                margin-bottom: 30px;
            }
            .footer-info-right {
                float: none;
                width: 100%;
                margin-right: 0;
                margin-left: 20px;

                .ul-flex {
                    margin: 30px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .hamburger {
        display: inline-block;
    }

    nav {
        .nav-item {
            li {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .footer-info {
            padding: 30px 10px;
            margin-bottom: 0;
            padding-bottom: 0;

            .footer-info-left {
                margin-bottom: 10px;
                &__logo {
                    float: none;
                    margin: auto;
                }

                &__hotel__info {
                    .hotel-info {
                        margin: auto;
                        text-align: center;
                        margin-top: 30px;
                    }

                    .hotel-info:first-child {
                        margin-top: 30px;
                        font-size: 1.5rem;
                    }
                }
            }

            .footer-info-right {
                display: none;
            }
        }
    }
}

@media (min-width: 993px) {
    .mobile-nav {
        display: none !important;
    }
}

// @media (min-width: 768px) {
//     header {
//         margin: 0 25px;
//     }
// }
