@media (max-width: 992px) {
    .hamburger {
        display: inline-block;
    }

    nav {
        .nav-item {
            li {
                display: none;
            }
        }
    }
}

@media (max-width: 819px) {
    footer {
        .footer-info {
            .footer-info-left {
                .footer-info-left__hotel__info {
                    margin: 23px 0 0 4px;
                }

                &__hotel__info {
                    .hotel-info {
                        margin: auto;
                        text-align: center;
                        // margin-top: 30px;
                    }
                }
            }

            .footer-info-right {
                margin: 15px 0 0 0;

                .ul-flex {
                    flex-direction: column-reverse;
                    align-items: flex-end;
                }

                .ul-flex .hotel-address {
                    margin-right: 0px;
                }

                .phone img {
                    margin-top: 4px;
                }
            }
        }
    }
}

@media(max-width:588px) {
    footer .footer-info {
        width: 100%;
        border-radius: 0;

        .footer-info-left {
            display: none;
        }

        .ul-flex {
            flex-direction: column-reverse;
            .phone {
                align-self: center;
            }
        }
    }
}

@media (min-width: 993px) {
    .mobile-nav {
        display: none !important;
    }
}

// @media (min-width: 768px) {
//     header {
//         margin: 0 25px;
//     }
// }