@import "../../NavFooter/nav.scss";
@import "../../NavFooter/footer.scss";
@import "../../utili/utili.scss";
@import "./intro_pic/intro_pic.scss";
@import "../../components/components.scss";
@import "../../media/media.scss";

.welcome:before {
  @include welcome-setting("../../../pages/index/pic/welcome.jpg", 0.35);
}

// 所有的單元介紹
.intro {
  margin-top: 20px;
  margin-bottom: 150px;
  &__title {
    color: $main-color;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 36px;
    letter-spacing: 32px;
    text-indent: 32px;
    text-align: center;
  }

  // 單元左圖右文 左文右圖的Flex設定
  // 包含位置設定
  .intro-section {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // 單元圖片寬度高度設定
    &__picture {
      width: 50%;
      height: 400px;
    }

    // 文字區塊寬度與高度設定
    &__text-intro {
      width: 50%;
      height: 400px;
      font-size: 1.1rem;
      line-height: 2rem;

      p {
        margin: 48px 90px;
      }

      p:first-child {
        margin-top: 60px;
      }

      //   按鈕置中調整
      .button-div {
        text-align: center;
      }
    }
  }

  .intro-section__picture {
    position: relative;

    div {
      border-radius: 10px;
    }

    &__picture-one {
      position: absolute;
      width: 60%;
      height: 60%;
      top: 0;
      left: 0;
    }

    &__picture-two {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 60%;
    }

    .picture-full {
      width: 100%;
      height: 100%;
      right: 0 !important;
    }
  }

  .order-one {
    order: 0 !important;
  }
}

.marquee-area {
  width: 200%;
  display: flex;
  overflow-x: hidden;
  .marquee-round {
    width: 100%;
    display: flex;

    gap: 32px;
    overflow: hidden;
    .marquee-one,
    .marquee-two {
      display: flex;
      width: 100%;
      justify-content: space-around;
      gap: 32px;
      position: relative;
      animation: marquee 20s linear infinite;
      white-space: nowrap;

      .marquee-block {
        height: 350px;

        img {
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}

.marquee-section {
  margin-bottom: 150px;
  .marquee-intro {
    width: 100%;
    height: auto;
    text-align: center;
    p {
      margin: 48px 90px;
    }

    p:first-child {
      margin-top: 60px;
    }
  }
}

.outdoors {
  // background-color: antiquewhite;
  width: 85%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;

  .outdoors-pic {
    display: flex;
    justify-content: space-between;
  }

  .outdoors-left,
  .outdoors-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 49.5%;

    height: 550px;
  }

  .outdoors-left {
    flex-wrap: wrap;
    // background-color: rgb(67, 16, 67);

    .outdoors-group-one {
      width: 100%;
      height: 49%;
      // background-color: rgb(134, 189, 171);
    }

    .outdoors-group-two {
      width: 100%;
      height: 49%;

      // background-color: rgb(34, 91, 213);
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      .outdoors-group-two-one {
        width: 49%;
        height: 100%;
        // background-color: wheat;
      }

      .outdoors-group-two-two {
        width: 49%;
        height: 100%;
        // background-color: rgb(203, 144, 35);
      }
    }
  }

  .outdoors-right {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    // background-color: rgb(51, 79, 9);

    .outdoors-group-one {
      width: 49%;
      height: 100%;
      // background-color: rgb(134, 189, 171);
    }

    .outdoors-group-two {
      flex-wrap: wrap;

      width: 49%;
      height: 100%;

      // background-color: rgb(34, 91, 213);
      display: flex;
      align-self: flex-end;
      .outdoors-group-two-one {
        width: 100%;
        height: 49%;
        // background-color: wheat;
      }

      .outdoors-group-two-two {
        width: 100%;
        align-self: flex-end;
        height: 49%;
        // background-color: rgb(203, 144, 35);
      }
    }
  }
}

// 動畫區
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 30px));
  }
}

// RWD區

@media (min-width: 1070px) {
  .welcome {
    &__title {
      font-size: 2rem;
      @include welcome-title-position(-30%, 30%);
      br {
        display: none;
      }
    }
  }
}

@media (min-width: 1069px) {
  .welcome {
    &__title {
      font-size: 1.5rem;
      text-align: left;
      @include welcome-title-position(5%, 30%);
      br {
        display: none;
      }
    }
  }
}

@media (min-width: 800px) {
  .welcome {
    &__title {
      font-size: 1.5rem;
      text-align: left;
      @include welcome-title-position(8%, 30%);
    }
  }
}

// @media (max-width: 1068px) {
//   .welcome {
//     &__title {
//       font-size: 1.5rem;
//       text-align: left;
//       @include welcome-title-position(20%, 40%);
//       br {
//         display: none;
//       }
//     }
//   }
// }

@media (min-width: 993px) {
  .intro:nth-child(even) {
    .intro-section {
      .intro-section__picture {
        order: 2;
        &__picture-one {
          position: absolute;
          top: 0;
          left: 40%;
          z-index: 99;
        }

        &__picture-two {
          position: absolute;
          bottom: 0;
          right: 40%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .intro {
    .intro-section {
      p {
        margin: 30px 56px;
      }

      width: 90%;
      &__picture {
        width: 100%;
      }

      &__text-intro {
        width: 100%;
        height: 100%;
      }

      .button-div {
        .page-button {
          margin-top: 28px;
        }
      }
    }
  }

  .marquee-area {
    .marquee-round {
      gap: 0;
      .marquee-one,
      .marquee-two {
        margin-left: 32px;
        .marquee-block {
          height: 300px;
          img {
            height: 100%;
          }
        }
      }
    }
  }

  .outdoors {
    flex-wrap: wrap;

    .outdoors-pic {
      flex-wrap: wrap;
    }

    .outdoors-left,
    .outdoors-right {
      width: 100%;
    }

    .outdoors-left {
      height: 600px;
      width: 100%;
      margin-bottom: 300px;
      gap: 16px;

      .outdoors-group-one {
        height: 50%;
      }

      .outdoors-group-two {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        .outdoors-group-two-one {
          width: 100%;
          height: 100%;
        }

        .outdoors-group-two-two {
          width: 100%;
          height: 100%;
        }
      }
    }

    .outdoors-right {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .welcome {
    &__title {
      font-size: 1.5rem;
      text-align: left;
      @include welcome-title-position(8%, 30%);
    }
  }
}

@media (max-width: 780px) {
  .marquee-area {
    .marquee-round {
      gap: 0;
      .marquee-one,
      .marquee-two {
        .marquee-block {
          height: 200px;

          img {
            height: 100%;
          }
        }
      }

      .marquee-hidden {
        width: 100%;
        overflow-y: hidden;
      }
    }
  }
}

@media (max-width: 600px) {
  .marquee-area {
    .marquee-round {
      gap: 0;
      .marquee-one,
      .marquee-two {
        gap: 10px;
        .marquee-block {
          height: 150px;

          img {
            height: 100%;
          }
        }
      }

      .marquee-two {
        margin-left: 10px;
      }

      .marquee-hidden {
        width: 100%;
        overflow-y: hidden;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 30px));
    }
  }
}

@media (max-width: 576px) {
  .intro {
    .intro-section {
      width: 100%;
      height: 100%;

      .intro-section__picture {
        &__picture-one {
          display: none;
        }

        &__picture-two {
          position: relative;
          margin: auto;
          width: 85%;
          height: 100%;
        }
      }
    }
  }

  .welcome {
    &__title {
      font-size: 1.2rem;
      text-align: left;
      @include welcome-title-position(8%, 15%);
    }
  }
}
