@import "../../NavFooter/nav.scss";
@import "../../NavFooter/footer.scss";
@import "../../components/components.scss";
@import "../../utili/utili.scss";
@import "../../media/media.scss";

// Welcome Picture

.welcome:before {
  @include welcome-setting("../../../pages/access/pic/welcome.jpg", 0.75);
}

.welcome {
  &__title {
    color: $white;
    @include welcome-title-position(40%, 70%);
  }
}

// 最上面的圖片與旅館資訊介紹
.access-detail-group {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  height: 500px;
  margin-bottom: 120px;
  gap: 20px;
  .access-img {
    width: calc(30% - 10px);
    background-color: aqua;
    background: url("../../../pages/access/pic/access.jpg") right center;
    background-size: 1200px;
  }

  .access-text {
    width: calc(60% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .access-detail {
    width: 100%;
    &__title {
      color: $main-color;
      font-size: 50px;
      padding: 5px;
      margin-bottom: 30px;
    }

    // &__paragraph {
    //   margin-bottom: 100px;
    // }
  }

  // 旅館資訊 使用Flex 至於最下方
  .access-detail-info {
    width: 100%;
    border-top: 3px solid $main-color;
    border-bottom: 3px solid $main-color;
    margin-top: auto;

    // 標題
    &__slogan {
      padding: 15px 8px;
      padding-right: 0;
      font-weight: 700;
    }

    // 電話
    &__phone {
      display: inline-block;
      padding-left: 8px;
      padding-bottom: 15px;
      img {
        width: 0.8rem;
      }
      p {
        display: inline-block;
      }
    }

    // 地址
    &__address {
      padding-left: 8px;
      padding-bottom: 15px;
    }
  }
}

.location {
  width: 80%;
  margin: auto;
  &__title {
    color: $main-color;
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin-bottom: 30px;
  }
  &__pic {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      // height: 500px;
    }
  }

  &__line {
    content: "";
    border: 1.5px solid $main-color;
    background-color: $main-color;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 120px;
    display: block;
    width: 59.8%;
  }
}

.route-scroll {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-bottom: 120px;

  .scroll-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1px;

    li {
      // display: inline-block;
      width: 33%;
      color: $white;
      text-align: center;
      background-color: $main-color;

      a {
        display: inline-block;
        color: $white;
        width: 100%;
        padding: 20px;
      }
    }
  }
}

.route {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  img {
    width: 100%;
  }
}

.route:last-child {
  width: 80%;
  margin: auto;
  margin-bottom: 120px;
}

.parking {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;

  &__title {
    font-size: 30px;
    color: $main-color;
    text-align: center;
  }

  &__line:after {
    content: "";
    border: 1.5px solid $main-color;
    background-color: $main-color;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    width: 70%;
  }

  &__img {
    width: 100%;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
}

.route-info-group {
  // background-color: $secondary-lighter-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  .route-info {
    text-align: center;
    width: 49.3%;
    background-color: $secondary-white-blue;
    &__title {
      font-size: 18px;
      padding-top: 32px;
    }
    &__line::after {
      content: "";
      background-color: $main-color;
      border: 1px solid $main-color;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 50px;
      display: block;
      width: 70%;
    }
    &__date {
      width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    &__day {
      width: 30%;
    }
  }
}

.caution {
  width: 80%;
  margin: auto;
  color: $main-color;
  background-color: $secondary-white-blue;
  font-size: 23px;
  text-align: center;
  padding: 20px;
  margin-bottom: 120px;
}

.sight {
  width: 85%;
  margin: auto;
  &__title {
    font-size: 32px;
    text-align: center;
    color: $main-color;
  }
  &__line::after {
    content: "";
    border: 1.5px solid $main-color;
    background-color: $main-color;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    width: 80%;
  }

  &__card-group {
    min-height: 100px;
    // background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card-group {
  width: 26%;
  text-align: center;
  // background-color: aquamarine;
  margin-bottom: 60px;
  &__img {
    background-color: rgb(42, 131, 24);
    width: 100%;
    height: 330px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    color: $main-color;
    font-size: 20px;
    margin: 10px;
  }

  &__detail {
    text-align: left;
    margin-bottom: 30px;
  }

  &__time {
    text-align: left;
    padding: 5px 0;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }
}

@media (min-width: 840px) {
  .welcome {
    &__title {
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 1500px) {
  .card-group {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(30%, 70%);
    }
  }
}

@media (max-width: 998px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(25%, 70%);
    }
  }

  .access-detail-group {
    height: auto;
    .access-img {
      width: 100%;
      height: 350px;
    }
    .access-text {
      width: 100%;
      .access-detail {
        margin-bottom: 30px;
      }
    }
  }

  .route-info-group {
    .route-info {
      width: 100%;

      &__day {
        width: 100%;
        margin: 15px;
      }
      .rate {
        width: 100%;
      }
    }

    .route-info:first-child {
      margin-bottom: 30px;
    }
  }

  .caution {
    font-size: 20px;
  }

  .card-group {
    &__img {
      height: 250px;
    }
  }

  @include section-button-flex(33.33%, 70%, 10px);
}

@media (max-width: 840px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(30%, 70%);
    }
  }

  .route-scroll {
    .scroll-group {
      li {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 785px) {
  .caution {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .card-group {
    width: 80%;
    &__img {
      height: 320px;
    }
  }
}

@media (max-width: 575px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(20%, 70%);
    }
  }
}

@media (max-width: 480px) {
  .card-group {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .welcome {
    &__title {
      font-size: 1.6rem;
      @include welcome-title-position(0%, 70%);
    }
  }

  .parking {
    width: 80%;
  }

  .route-info-group {
    .route-info {
      &__date {
        width: 85%;
      }
    }
  }
}

@media (max-width: 361px) {
  .card-group {
    width: 95%;
    &__img {
      height: 200px;
    }
  }
}
